.transparanent-background {
  background-color: transparent;

  ul {
    li {
      a {
        color: white;
      }
    }
  }
}


.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100%;
  z-index: 10;
}

.transition-linear {
  transition: all 400ms linear;
}


.nav-item .nav-link {
  line-height: 1.6;
  margin: 15px  3px;
  padding:  10px 15px;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #66615B;
}