<div class="navbar transition-linear" [ngClass]="{'transparanent-background': isNavbarTransparentTop, 'shadow-lg p-3 mb-5 bg-white': !isNavbarTransparentTop}">
  <!-- <a class="navbar-brand"  [routerLink]="['']" style="max-height: 69px; padding-top: 10px;">
    <img src="assets/img/general/grill_impex_logo.png" class="img-responsive img-circle" alt="Logo" id="logo" style="max-height: 50px; padding: 5px;">
    <span class="margin-left-10px {{colorTextClass}}"> Dermi</span> 
  </a> -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >
          <a class="nav-link" [routerLink]="['']">Link</a>
      </li>
  </ul>
</div>
