<div class="container margin-top-200">
  <div class="row  justify-content-md-center">
    <div class="col col-md-6 col-sm-12">
      <form class="form-container" [formGroup]="loginForm">
        <mat-form-field class="form-container">
          <input matInput placeholder="Login" value="" formControlName="login">
        </mat-form-field>
        <mat-error *ngIf="!loginForm.get('login').valid && (loginForm.get('login').dirty || loginForm.get('login').touched)">
          Proszę podać login
        </mat-error>
        <mat-form-field class="form-container">
          <input type="password" matInput placeholder="Hasło" value="" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          Proszę podać hasło
        </mat-error>
        <div>
          <button mat-raised-button color="warn" class="float-right w-50px" 
          [disabled]="!loginForm.valid" (click)="Submit()" >Zaloguj</button>
        </div>

      </form>
    </div>
  </div>
</div>