<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput placeholder="Nazwa Kategorii" formControlName="name">

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button" (click)="close()">
    Zamknij
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">
    Zapisz
  </button>

</mat-dialog-actions>