<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field class='w-100'>
    <input matInput placeholder="Nazwa Kategorii" formControlName="title">
  </mat-form-field>
  <mat-form-field class='w-100'>
      <input matInput [matDatepicker]="myDatepicker" formControlName="added">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class='d-none'>
      <input matInput placeholder="" formControlName="html">
    </mat-form-field>
    <admin-editor InitialData="html" (change)="editorChanged($event)" class='w-100'></admin-editor>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Zamknij
  </button>
  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">
    Zapisz
  </button>
</mat-dialog-actions>