<div class="dermi-header">
  <div class="content-center">
    <div class="container">
      <div class="">
        <br>
      </div>
    </div>
  </div>
</div>
<p style="margin-top: 250px">
  Where can I get some?
  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
  form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
  passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
  Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
  generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
  structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
  repetition, injected humour, or non-characteristic words etc.
</p>
<p>
  Where can I get some?
  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
  form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
  passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
  Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
  generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
  structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
  repetition, injected humour, or non-characteristic words etc.
</p>
<p>
  Where can I get some?
  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
  form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
  passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
  Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
  generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
  structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
  repetition, injected humour, or non-characteristic words etc.
</p>
<p>
  Where can I get some?
  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
  form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
  passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
  Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
  generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
  structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
  repetition, injected humour, or non-characteristic words etc.
</p>


<div>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="mat-app-background basic-container" *ngIf="!isLoadingResults">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="categories">

      <!-- Position Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef class="width-50px"> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;" class="width-50px">{{i+1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-200px"> Kategoria </th>
        <td mat-cell *matCellDef="let element" class="width-200px"> {{element.name}} </td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="width-150px"> <button mat-mini-fab color="primary" (click)='add()'><i class="fa fa-plus fa-lg "></i> </button> </th>
        <td mat-cell *matCellDef="let element" class="width-150px">
          <button mat-mini-fab color="primary" (click)='edit(element)'><i class="fa fa-pencil-square-o fa-lg "></i>
          </button>
          <button mat-mini-fab color="warn" (click)='deleted(element)' class="ml-1"><i class="fa fa-trash fa-lg "></i>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="2" align="center" class="align-middle">
          <p class="my-auto font-weight-normal"><strong>Brak Rekordów</strong></p>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr> -->
      <tr mat-footer-row *matFooterRowDef="['disclaimer']" [ngClass]="{'hide': recordsCount!==0}"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator [length]="recordsCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" lastPageLabel="Ilość rekordów" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>