.dermi-header {
  background-image: url('../../../../assets/img/admin/header.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

table {
  width: 100%;
}

.width-50px {
  width: 50px;
}

.width-200px {
  width: 200px;
}

.width-150px {
  width: 150px;
}

.hide{
  display: none;
}