/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~alertifyjs/build/css/alertify.css';
@import '~alertifyjs/build/css/themes/bootstrap.min.css';
@import '~quill/dist/quill.snow.css';


body{
  color: #66615b;
  font-size: 14px ;
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

