.column75px{
    flex: 0 0 75px;
    min-width: 75px;
    text-align: center;
 }

 .column400px{
    flex: 0 0 400px;
    min-width: 400px;
    text-align: center;
 }

 .column200px{
    flex: 0 0 200px;
    min-width: 200px;
    text-align: center;
 }